@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

:root {
  --A: #3f4661;
  --B: #5071e6;
  --C: #91a2e0;
  --D: #223061;
  --E: #717ead;
  --BASE: rgb(245, 245, 245);
  background-color: var(--BASE);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.flex {
  display: flex;
  align-items: center;
}

.flex--start {
  justify-content: flex-start;
}

.flex--end {
  justify-content: flex-end;
}

.flex--center {
  justify-content: center;
}

.flex--spaceBetween {
  justify-content: space-between;
}

.flex--spaceAround {
  justify-content: space-around;
}

.flex--rowWrap {
  flex-flow: row wrap;
}

.todoApp {
  width: 70%;
  margin: 50px auto;
  /* background-color: red; */
  padding: 20px;
}

.containerItems {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  /* border: 1px solid #000; */
  /* background-color:var(--E); */
  border-radius: 5px;
}

.title {
  text-align: center;
  font-size: 60px;
  font-weight: 200;
  margin: 10px 0;
  color: var(--D);
  word-spacing: 10px;
  letter-spacing: 5px;
}

button:hover {
  cursor: pointer;
}
